{% extends "master.html" %}

{% block title %}Member table | My Study Club{% endblock %}

{% block content %}
  {% include "mymenu.html" with me="TOBIAS" sponsor="W3SCHOOLS" %}

  <div class="card shadow-sm">
    <div class="card-header bg-white">
      <h1 class="h3 mb-0">Member table</h1>
    </div>
    <div class="table-responsive">
      <table class="table table-hover align-middle mb-0">
        <thead class="table-light">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
          </tr>
        </thead>
        <tbody>
          {% for x in mymembers %}
            <tr>
              <td>{{ x.id }}</td>
              <td>{{ x.firstname }}</td>
              <td>{{ x.lastname }}</td>
            </tr>
          {% empty %}
            <tr><td colspan="3" class="text-center text-secondary py-4">There are no members yet.</td></tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}
